<div class = "vote container" id = "votes"></div>
<div class = "title container">
	<div class = "title">
		<b><%= fact.get('title') %></b>
	</div>
</div>
<div class = "description container">
	<div class = "description"><%= fact.get('description') %></div>
</div>
<div class = "sources container" id = "sources"></div>
<div class = "extras"></div>
<div class = "stats">
	<div id = "user_info"></div>
	<div class = "share tooltip"><span class = "share-tip">Share</span><img src = "assets/login/facebook64.png" width = "100%" /></div>
	<div class = "edit tooltip" id = "fedit"><span class = "edit-tip">Edit</span><img src = "assets/icons/gear.png" width = "100%" /></div>
	<div class = "comments tooltip">
		<span class = "comment-tip">Comment</span>
		<img src = "assets/icons/comment.png" width = "100%" />
		<div class = "comments count"></div>
	</div>
</div>