<form id = "new_fact">
	<input type = "text" id = "title" maxlength = "255" style = "width: 94%; margin: 10px 0 10px 2.5%" /></br>
	<label>Description: <span class = "optional">(optional)</span></label></br>
	<textarea id = "description" rows = "4" style = "width: 94%; margin: 0 0 0 2.5%"></textarea></br>
	<label>Source: </label></br>
	<input type = "text" id = "source" style = "width: 94%; margin: 0 0 0 2.5%" /></br></br>
	<input type = "submit" value = "Post Your Fact" />
</form>