<form id = "new_fact">
	<textarea id = "title" rows = "4" style = "width: 94%; margin: 10px 0 0 2.5%"></textarea></br>
	<label>Source: </label></br>
	<input type = "text" id = "source" maxlength = "255" style = "width: 94%; margin: 0 0 0 2.5%" /></br></br>
	<input type = "submit" value = "Post Your Fact" />
</form>