<div class = "issue_header_tabs">
	<div id = "basics" class = "basics-inactive">Basics
		<div class = "triangle-container">
			<div class = "triangle"></div>
		</div>
	</div> 
	<div id = "advanced" class = "advanced-inactive">Advanced
		<div class = "triangle-container">
			<div class = "triangle"></div>
		</div>
	</div>
</div>
<div class = "issue-big-header-line"></div>
<div class = "issue-small-header-line"></div>
<div id = "question" style = "margin: 75px 0 10px 0"></div>
<% if (facts.length > 0) { %>
	<div class = "fact-header">
		<% if (facts.length !== 1) { %>
			<%= facts.length %> Facts:
		<% } else { %>
			<%= facts.length %> Fact:
		<% } %>
	</div>
<% } %>
<div id = "facts"></div>
<div class = "fact-add">Add a Fact:</div>
<div id = "create"></div>