<div id = "question" style = "margin: 0 0 20px 0"></div>
<% if (facts.length > 0) { %>
	<div class = "fact-header"><%= facts.length %> Facts:</div>
<% } %>
<div id = "facts"></div>
<div id = "create" style = "margin: 1em 0 0 0">
	<div class = "fact-add">Your Fact:</div>
</div>