<div class = "category top" id = "pros">
	<div class = "sidebar">
		<div class = "title container">
			<div class = "title">P
			</div>
		</div>
		<div class = "container">
			<div id = "arrow" class = "point"></div>
		</div>
	</div>
</div>
<div class = "category middle" id = "basics">
	<div class = "sidebar">
		<div class = "title container">
			<div class = "title">B
			</div>
		</div>
		<div class = "container">
			<div id = "arrow" class = "point"></div>
		</div>
	</div>
</div>
<div class = "category bottom" id = "cons">
	<div class = "sidebar">
		<div class = "title container">
			<div class = "title">C
			</div>
		</div>
		<div class = "container">
			<div id = "arrow" class = "point"></div>
		</div>
	</div>
</div>
