<div class = "category top" id = "pros">
	<div class = "title container">
		<div class = "title">PROS</div>
	</div>
	<div class = "stats"></div>
	<div class = "sidebar">
		<div class = "container">
			<div id = "arrow" class = "point"></div>
		</div>
	</div>
</div>
<div class = "category middle" id = "basics">
	<div class = "title container">
		<div class = "title">BASICS</div>
	</div>
	<div class = "stats"></div>
	<div class = "sidebar">
		<div class = "container">
			<div id = "arrow" class = "point"></div>
		</div>
	</div>
</div>
<div class = "category bottom" id = "cons">
	<div class = "title container">
		<div class = "title">CONS</div>
	</div>
	<div class = "stats"></div>
	<div class = "sidebar">
		<div class = "container">
			<div id = "arrow" class = "point"></div>
		</div>
	</div>
</div>
