<div class = "toggle-all container">
	<% if (all_checked) { %>
		<button id = "toggle" class = "toggle-all button">&#x2717; Uncheck All</button>
	<% } else { %>
		<button id = "toggle" class = "toggle-all button">&#x2713; Check All</button>
	<% } %>
</div>