<div class = "toggle-all container">
	<% if (all_checked) { %>
		<button id = "toggle" class = "toggle-all button">Uncheck All</button>
	<% } else { %>
		<button id = "toggle" class = "toggle-all button">Check All</button>
	<% } %>
</div>