<div class = "title container">	
	<div class = "title"><%= issue.get('title') %></div>
</div>
<div class = "thumbnail">
	<% if (issue.get('thumbnail')) { %>
		<img src = "assets/issues/<%= issue.get('thumbnail') %>" height = "100%"/>
	<% } else { %>
		<img src = "assets/logos/black.png" width = "100%" />
	<% } %>
</div>

<div class = "hover-container">
	<div style = "position: absolute; top: 5%; left: 5%; width: 90%; height: 85%; overflow: hidden">
		<p style = "display:inline; color: rgb(60,60,60);">
			<%= issue.get('description') %>
		</p>
	</div>
</div>