<div class = "title container">	
	<div class = "title"><%= issue.get('title') %></div>
</div>
<div class = "thumbnail">
	<% if (issue.get('thumbnail')) { %>
		<img src = "assets/issues/<%= issue.get('thumbnail') %>" height = "100%"/>
	<% } else { %>
		<img src = "assets/logos/black.png" width = "100%" />
	<% } %>
</div>

<div class = "hover-container">
	<div class = "description">
		<p style = "display:inline; color: rgb(60,60,60);">
			<%= issue.get('description') %>
		</p>	
	</div>
	<div class="showmore">Click for more...</div>
</div>