<div class = "issue_title_container">
	<div id  = "back" class = "issue_title"><%= issue.get('title') %></div>
	<div id = "back" class = "issue_header_picture ">
		<div class = "issue_header_picture_wrapper">
			<% if (issue.get('thumbnail')) { %>
				<img src = "assets/issues/<%= issue.get('thumbnail') %>" height = "100%"/>
			<% } else { %>
				<img src = "assets/logos/black.png" width = "100%" />
			<% } %>
		</div>
	</div>
	<div class = "quizme" id="quiz">Quiz Me!</div>
</div>
<div class = "description-header">Description:</div>
<div class = "description-text"><%= issue.get('description') %></div>
<div class = "issue_current_user_container">
	<div class = "current_user_title">Issue Rank: </div>
	<div class = "current_user_display" id = "user_info"></div>
</div>