<div class = "symbol">	
	<% if (is_correct) { %>
		<span class = "checkmark">&#x2713;</span>
	<% } else { %>
		<span class = "x-mark">&#x2717;</span>
	<% } %>
</div>
<div id = "<%= question.get('id') %>" class = "question"><%= question.get('title') %></div>