<div class = "completed container">
	<div class = "completed text">You finished the quiz!</div>
</div>
<div class = "score container">
	<div class = "score text">You got a <span><%= score %>%</span></div>
</div>