<div class = "quiz_header_tabs">
	<div class = "quiz">Quiz
		<div class = "quiz-triangle-container">
			<div class = "triangle"></div>
		</div>
	</div> 
</div>
<div class = "quiz-big-header-line"></div>
<div class = "quiz-small-header-line"></div>
<div id = "quizzes" class = "quizzes-wrapper"></div>