<div class = "vote up"><div class = "really-small-arrow" id = "upvote"></div></div>
<div class = "vote count"><%= score %></div>
<div class = "vote down"><div class = "really-small-darrow" id = "downvote"></div></div>