<%= comment.get('content') %>
<div id = "votes"></div></br>
<div id = "reply<%= comment.get('id') %>">
	<button id = "comment_reply">Reply</button>
</div></br>
<div id = "children<%= comment.get('id') %>" />