<div class = "popup wrapper">
	<div id = "popup" class = "pops-container">
		<div class = "pops-text" style = "text-align: center">
			You need to sign in first!
		</div>
		<div id = "login" class = "signin-button">
			Log In
		</div>
		<div class = "pops-clickme">
			(click to dismiss)
		</div>
	</div>
</div>