<div style = "margin: 0 auto; width: 900px">
	<input id = "auto" type = "text"  style = "width: 400px; margin: 10px 0 0 495px; border-radius: 5px" />
	<div id = "autocom" style = "border: 1px solid #aaa; width: 404px; margin: 0 0 0 495px; background: #fff"></div>
</div>