<input id = "auto" type = "text"  maxlength = "255" value = "Search Factory..." class = "light-text"/>
<div id = "autocom" class = "results"></div>
<div class = "image">
	<img src = "assets/misc/magnify.png" width = "100%" />
</div>
