<div class = "issue_header_tabs">
	<div class = "basics">Basics
		<div class = "basics-triangle-container">
			<div class = "triangle"></div>
		</div>
	</div> 
	<div class = "advanced">Advanced</div>
</div>
<div class = "issue-big-header-line"></div>
<div class = "issue-small-header-line"></div>