<div class = "issue_header_tabs">
	<div class = "question_count">14 Questions</div>
	<div class = "basics-inactive">Basics
		<div class = "triangle-container">
			<div class = "triangle"></div>
		</div>
	</div> 
	<div class = "advanced-active">Advanced
		<div class = "triangle-container">
			<div class = "triangle"></div>
		</div>
	</div>
</div>
<div class = "issue-big-header-line"></div>
<div class = "issue-small-header-line"></div>