<div class = "issue_header_tabs">
	<div class = "question_count"><%= questions.length %> Questions</div>
	<div id = "basics" class = "">Basics
		<div class = "triangle-container">
			<div class = "triangle"></div>
		</div>
	</div> 
	<div id = "advanced" class = "">Advanced
		<div class = "triangle-container">
			<div class = "triangle"></div>
		</div>
	</div>
</div>
<div class = "issue-big-header-line"></div>
<div class = "issue-small-header-line"></div>