<div class = "triangle-border bubble">
	<div class = "title container">
		<div class = "title">
			<%= question.get('title') %>
		</div>
	</div>
</div>
<div class = "stats">
	<div id = "user_info"></div>
	<div class = "comments container">
		<div class = "comments label">COMMENTS</div>
		<div class = "comments box">
			<div class = "comments number"><%= comments.length %></div>
		</div>
	</div>
	<div class = "votes container">
		<div class = "votes label">UPVOTES</div>
		<div class = "votes box" id = "score"></div>
	</div>
	<div class = "facts container">
		<div class = "facts label">FACTS</div>
		<div class = "facts box">
			<div class = "facts number"><%= facts.length %></div>
		</div>
	</div>
</div>