<div class = "triangle-border bubble">
	<div class = "title container">
		<div class = "title">
			<b><%= question.get('title').split(' ')[0] %></b><%= " " + question.get('title').substr(question.get('title').indexOf(" ") + 1) %>
		</div>
	</div>
</div>
<div class = "stats">
	<div id = "user_info"></div>
	<div class = "comments container">
		<div class = "comments label">COMMENTS</div>
		<div class = "comments box">
			<div class = "comments number">3</div>
		</div>
	</div>
	<div class = "votes container">
		<div class = "votes label">UPVOTES</div>
		<div class = "votes box" id = "score"></div>
	</div>
	<div class = "facts container">
		<div class = "facts label">FACTS</div>
		<div class = "facts box">
			<div class = "facts number">3</div>
		</div>
	</div>
</div>