<div class = "triangle-border bubble">
	<div class = "title container">
		<div class = "title">
			<b><%= question.get('title').split(' ')[0] %></b><%= " " + question.get('title').substr(question.get('title').indexOf(" ") + 1) %>
		</div>
	</div>
</div>
<div class = "stats">
	<div class = "picture">
		<img src = "assets/fusegap.png" height = "100%" />
	</div>
	<div class = "text">
		<div class = "name">John</div>
		<div class = "rank">Rank: 40 of 200</div>
	</div>
	<div class = "votes container">
		<div class = "votes label">Upvotes</div>
		<div class = "votes box">
			<div class = "votes number">4</div>
		</div>
	</div>
	<div class = "facts container">
		<div class = "facts label">Facts</div>
		<div class = "facts box">
			<div class = "facts number">3</div>
		</div>
	</div>
</div>