<div class = "inner">	
	<div class = "vote container" id = "votes"></div>
	<div class = "triangle-border bubble">
		<div class = "title container">
			<div class = "title">
				<%= question.get('title') %>
			</div>
		</div>
	</div>
	<div class = "stats">
		<div id = "user_info" style = "height: 100%"></div>
		<div class = "actions">
			<span class = "edit" id = "quedit">edit</span>
			<span class = "leftspacer">|</span>
			<span class = "comments" id = "question_comments">comments</span>
			<span class = "rightspacer">|</span>
			<span class = "share" id = "question_share">share</span>
		</div>
	</div>
</div>
<div id = "extras"></div>
