<div class = "about-background" id = "monkeys">		
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				How do I get <b>started?</b>
			</div>
		</div>
		<div class = "alt-about-panel what-to-do">
			<div class = "alt-text-container">
				<b>Browse</b> through some issues, <b>upvote</b> some questions or facts, <b>compete</b> with some quizzes on the facts.  
				</br></br>
				By showing off your <b>knowledge</b>, you gain <b>reputation</b> and earn site privileges. 
			</div>
		</div>
	</div>
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				Why are facts <b>important</b>?
			</div>
		</div>
		<div class = "alt-about-panel facts-important">
			<div class = "alt-text-container">
				Do you think that society is <b>uninformed</b> because people are suffering from a lack of <b>opinions</b>?  Or is it more because people are suffering from a lack of <b>facts</b>?  
				</br></br>
				Have you ever read the <b>comments</b> section of any website, ever?  It’s pretty common for someone to have a ‘dumb’ <b>opinion</b>.  It’s much more rare for someone to have a ‘dumb’ <b>fact</b>. 
				</br></br>
				You can generally <b>verify</b> a fact.  You can’t really verify an opinion. 
			</div>
		</div>
	</div>
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				What if I <b>disagree</b> with a fact?
			</div>
		</div>
		<div class = "alt-about-panel disagree">
			<div class = "alt-text-container">
				You can either <b>add</b> your own fact, <b>downvote</b> the fact, <b>edit</b> the fact, or <b>comment</b> on why that fact is <b>wrong</b>.
			</div>
		</div>
	</div>
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				What if I don't <b>like</b> facts?
			</div>
		</div>
		<div class = "alt-about-panel hate-facts">
			<div class = "alt-text-container">
				Please visit the <a href="http://www.foxnews.com" target = "_blank">support group</a>
			</div>
		</div>
	</div>

	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				<b>Who</b> are you guys?
			</div>
		</div>
		<div class = "alt-about-panel who-are-you">
			<div class = "alt-text-container">
				<b>UChicago students:</b></br>
				Cameron Okeke - Campus Outreach</br>
				Oliver Ramin - Investor/Media Outreach
				</br></br>
				<b>Everyone else:</b></br>
				Kaity Tighe - Graphics (including logo)</br>
				Joanie Gentile - CFO (Chief Fact Officer)</br>
				Aaron Henning - CBO (Chief Buzzword Officer)</br>
				Thomas Carter - LSU student/liason to the Deep South</br>
				Joseph LaPayne - Programming</br>
				Andrew Smith - Programming/Raging
			</div>
		</div>
	</div>
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				How can I <b>contact</b> fuseGap?
			</div>
		</div>
		<div class = "alt-about-panel contact">
			<div class = "alt-text-container">
				<b>facts@fusegap.org</b>
			</div>
		</div>
	</div>
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				What is the <b>Factory</b>?
			</div>
		</div>
		<div class = "alt-about-panel factory">
			<div class = "alt-text-container">
				The <b>FACT</b>ory is where knowledge is manufactured.  <b>Browse</b> through the questions that need facts and then <b>post</b> your fact.  
				</br></br>
				Posting good questions or facts is the <b>quickest</b> way to gain reputation on fuseGap.
			</div>
		</div>
	</div>
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				What are the qualities of a <b>good question</b>?
			</div>
		</div>
		<div class = "alt-about-panel good-question">
			<div class = "alt-text-container">
				The question should be...
				</br></br>
				<b>1. Concise</b>
				</br></br>
				<span class = "red-text">Bad:</span>
				In what year did the former Republican US President Richard Nixon formally announce to the United States of America that he would henceforth be waging the so-called “War on Drugs?”
				</br></br>
				<span class = "green-text">Good:</span>
				In what year did the ‘War on Drugs’ begin in the US?
				</br></br></br>
				<b>2. Obviously relevant to the debate</b>
				</br></br>
				<span class = "red-text">Bad:</span>
				Which comedian has a reputation for making a lot of marijuana jokes?
				</br></br>
				<span class = "green-text">Good:</span>
				Which states have legalized medical marijuana?
				</br></br></br>
				<b>3. Potentially answerable by one fact</b>
				</br></br>
				<span class = "red-text">Bad:</span>
				What would be the societal benefits for legalizing marijuana?
				</br></br>
				<span class = "green-text">Good:</span>
				(break up the question) How has medical marijuana legalization affected traffic fatalities?  What are the health benefits of smoking marijuana?  According to economists, how would legalizing marijuana affect the economy?  What % of the US population are prisoners?  What % of the world population are prisoners?  Was the US’ previous attempt at Prohibition successful?
				</br></br></br>
				<span class = "red-text">Bad:</span>
				Can offshore drilling help the US become energy independent?
				</br></br>
				<span class = "green-text">Good:</span>
				(break up the question) Is the US a net producer or consumer of oil?  How much additional oil could the US get by offshore/arctic drilling?  How much would offshore/arctic drilling reduce prices at the pump? How much oil does the US consume?  How much oil does the world consume?
				</br></br></br>
				<span class = "red-text">Bad:</span>
				What’s so bad about illegal immigration?
				</br></br>
				<span class = "green-text">Good:</span>
				(break up the question) Are illegal immigrants more likely to commit crimes?  How much government payments do illegal immigrants directly/indirectly receive?  What are the laws against employing an illegal immigrant?  What government benefits are illegal immigrants entitled to?
			</div>
		</div>
	</div>
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				How can I get <b>involved</b>?
			</div>
		</div>
		<div class = "alt-about-panel how-to-help">
			<div class = "alt-text-container">
				Check out the site and give us <b>feedback</b>.  Add questions, add facts, take quizzes, share with friends, vote on stuff.  Let us know if we should <b>hire</b> you.  
				</br></br>
				Anything that is helping to <b>inform society</b>. 
			</div>
		</div>
	</div>
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				What is the <b>ranking</b> system?
			</div>
		</div>
		<div class = "alt-about-panel ranking-system">
			<div class = "alt-text-container">
				The <b>fusers</b> who show off the most knowledge will have a <b>higher</b> rank.  
				</br></br>
				You have a <b>global</b> ranking as well as an <b>issue-specific</b> ranking.
			</div>
		</div>
	</div>

	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				Why are some of my abilities <b>greyed-out</b>?
			</div>
		</div>
		<div class = "alt-about-panel grey-out">
			<div class = "alt-text-container">
				As you show off your <b>knowledge</b> on the site, you unlock different abilities/privileges.  The greyed-out abilities need to be <b>unlocked</b> by you.
			</div>
		</div>
	</div>
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				Where can I post my <b>opinion</b>?
			</div>
		</div>
		<div class = "alt-about-panel opinion">
			<div class = "alt-text-container">
				Not here.
			</div>
		</div>
	</div>
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				What's the <b>point</b> of fuseGap?
			</div>
		</div>
		<div class = "comparison panels">
			<div class = "panel inactive left" id ="1">
				<div class = "logo inactive">
					<img src = "assets/logos/black.png" width = "100%"/>
				</div>
				<div class = "mouseover container">
					<div class = "mouseover text">(mouse over)</div>
				</div>
			</div>
			<div class = "panel active left" id ="1">
				<div class = "statement container">
					<div class = "statement text">
						To <b>inform</b> people about the <b>facts</b> that matter to them.
					</div>
				</div>
				<div class = "logo active">
					<img src = "assets/logos/black.png" width = "100%"/>
				</div>
			</div>
			<div class = "panel inactive right" id ="2">
				<div class = "portrait inactive">
					<div class = "portrait wrapper">
						<img class = "jefferson" src = "assets/people/TJ.png" width = "125px"/>
					</div>
				</div>
				<div class = "mouseover container">
					<div class = "mouseover text">(mouse over)</div>
				</div>
			</div>
			<div class = "panel active right" id ="2">
				<div class = "quote container">
					<div class = "quote text">
						<b>"</b>Educate and <b>inform</b> the whole mass of the people. They are the <b>only</b> sure reliance for the <b>preservation</b> of our liberty.<b>"</b>
					</div>
				</div>
				<div class = "name">-Thomas Jefferson</div>
				<div class = "portrait active">
					<div class = "portrait wrapper">
						<img class = "jefferson" src = "assets/people/TJ.png" width = "125px"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				Aren't people <b>already</b> well-informed?
			</div>
		</div>
		<div class = "comparison panels">
			<div class = "panel inactive left" id ="3">
				<div class = "logo inactive">
					<img src = "assets/logos/black.png" width = "100%"/>
				</div>
			</div>
			<div class = "panel active left" id ="3">
				<div class = "statement container">
					<div class = "statement text">
						<b>1</b> out <b>5</b> American adults thinks that the <b>Sun</b> revolves around the <b>Earth</b>. <i><span class = "source">(<a href= "http://www.nytimes.com/2005/08/30/science/30profile.html?ex=1184990400&en=2fb126c3132f89ae&ei=5070" target = "_blank">source</a>)</span></i>
					</div>
				</div>
				<div class = "logo active">
					<img src = "assets/logos/black.png" width = "100%"/>
				</div>
			</div>
			<div class = "panel inactive right" id ="4">
				<div class = "portrait inactive">
					<div class = "portrait wrapper">
						<img class = "churchill" src = "assets/people/WLSC.png" width = "125px"/>
					</div>
				</div>
			</div>
			<div class = "panel active right" id ="4">
				<div class = "quote container">
					<div class = "quote text">
						<b>"</b>The <b>best</b> argument against democracy is a five-minute conversation with the <b>average voter</b>.<b>"</b>
					</div>
				</div>
				<div class = "name">-Winston Churchill</div>
				<div class = "portrait active">
					<div class = "portrait wrapper">
						<img class = "churchill" src = "assets/people/WLSC.png" width = "125px"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				Does it really <b>matter</b> if society is uninformed?
			</div>
		</div>
		<div class = "comparison panels">
			<div class = "panel inactive left" id ="5">
				<div class = "portrait inactive">
					<div class = "portrait wrapper">
						<img class = "jfk" src = "assets/people/JFK.png" width = "125px"/>
					</div>
				</div>
			</div>
			<div class = "panel active left" id ="5">
				<div class = "quote container">
					<div class = "quote text">
						<b>"</b>The ignorance of <b>one voter</b> in a democracy impairs the <b>security</b> of us all.<b>"</b>
					</div>
				</div>
				<div class = "name">-John F Kennedy</div>
				<div class = "portrait active">
					<div class = "portrait wrapper">
						<img class = "jfk" src = "assets/people/JFK.png" width = "125px"/>
					</div>
				</div>
			</div>
			<div class = "panel inactive right" id ="6">
				<div class = "portrait inactive">
					<div class = "portrait wrapper">
						<img class = "mlk" src = "assets/people/MLK.png" width = "125px"/>
					</div>
				</div>
			</div>
			<div class = "panel active right" id ="6">
				<div class = "quote container">
					<div class = "quote text">
						<b>"</b>Nothing in the world is more <b>dangerous</b> than sincere <b>ignorance</b> and conscientious <b>stupidity</b>.<b>"</b>
					</div>
				</div>
				<div class = "name">-Martin Luther King Jr</div>
				<div class = "portrait active">
					<div class = "portrait wrapper">
						<img class = "mlk" src = "assets/people/MLK.png" width = "125px"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class = "comparison container">
		<div class = "question container" id = "explore">
			<div class = "question circle" id = "arrows">
				<div class = "right"></div>
				<div class = "down"></div>
			</div>
			<div class = "question text">
				How does <b>fuseGap</b> help inform society?
			</div>
		</div>
		<div class = "comparison panels">
			<div class = "panel inactive left" id ="7">
				<div class = "logo inactive">
					<img src = "assets/logos/black.png" width = "100%"/>
				</div>
			</div>
			<div class = "panel active left" id ="7">
				<div class = "statement container">
					<div class = "statement text">
						We're trying to make it exponentially <b>easier</b> and way <b>less painful</b> to become informed.
					</div>
				</div>
				<div class = "logo active">
					<img src = "assets/logos/black.png" width = "100%"/>
				</div>
			</div>
			<div class = "panel inactive right" id ="8">
				<div class = "portrait inactive">
					<div class = "portrait wrapper">
						<img class = "aristotle" src = "assets/people/A.png" width = "125px"/>
					</div>
				</div>
			</div>
			<div class = "panel active right" id ="8">
				<div class = "quote container">
					<div class = "quote text">
						<b>"</b>The <b>educated</b> differ from the uneducated much like the living differ from the <b>dead</b>.<b>"</b>
					</div>
				</div>
				<div class = "name">-Aristotle</div>
				<div class = "portrait active">
					<div class = "portrait wrapper">
						<img class = "aristotle" src = "assets/people/A.png" width = "125px"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>