<div class = "column left">
	<div class = "column container">
		<div id = "left_top" class = "column left side top"></div>
		<div id = "left_bottom" class = "column left side bottom"></div>
	</div>
</div>
<div id = "right" class = "column right"></div>