<div class = "wrapper">
	<div class = "header logo" id = "top_logo">
		<img src = 'assets/logos/blue.png' height = "100%" />
		<span class = 'logo-text'>fuseGap</span>
	</div>
	<!-- <div class = "interesting-facts" id = "interesting">
		<div class = "fact container">
			<span class = "fact text">The US has less than 5% of the worlds population but nearly 25% of the world’s prison population</span>
		</div>
		<div class = "fact container">
			<span class = "fact text">22% of all pregnancies (excluding miscarriages) in the US end in abortion</span>
		</div>
		<div class = "fact container">
			<span class = "fact text">The majority of unemployed Americans attended college. There are now more people without jobs who went to college than those who did not</span>
		</div>
		<div class = "fact container">
			<span class = "fact text">In Texas, police obtained a unmanned drone in hopes of equipping it with flares, smoke grenades, tasers and rubber bullets that could be used to subdue a crowd</span>
		</div>
		<div class = "fact container">
			<span class = "fact text">Hitler and Napoleon both had only one testicle</span>
		</div>
		<div class = "fact container">
			<span class = "fact text">Ohio is listed as the 17th state in the U.S., but technically it is number 47. Until August 7, 1953, Congress forgot to vote on a resolution to admit Ohio to the Union</span>
		</div>
		<div class = "fact container">
			<span class = "fact text">When a person is tickled, the response is actually a form of panic, as the brain interprets the tickling sensation as produced by spiders or other creepy crawlies on your skin - the uncontrollable laughter is a response to panic</span>
		</div>
		<div class = "fact container">
			<span class = "fact text">Human hair and finger nails continue to grow after death</span>
		</div>
		<div class = "fact container">
			<span class = "fact text">Colgate faced big obstacle marketing toothpaste in Spanish speaking countries. Colgate translates into the command "go hang yourself</span>
		</div>
		<div class = "fact container">
			<span class = "fact text">In 1994 it was estimated that trans fats caused 20,000 deaths annually in the US from heart disease</span>
		</div>
		<div class = "fact container">
			<span class = "fact text">Big oil and gas companies receive $4 billion in tax breaks each year</span>
		</div>
		<div class = "fact container">
			<span class = "fact text">Each CEO of the Big Five oil companies received an average of $60,110 in compensation per day in 2011</span>
		</div>
	</div>
	<div class = "interesting-buttons">
		<div id = "int_prev" class = "previous"></div>
		<div id = "int_next" class = "next"></div>
	</div> -->
	<div class = "login container">
		<% if (current_user.get('is_temp_user')) { %>
			<div id = "login" class = "signin-button">
				Log In
			</div>
		<% } else { %>
			<div class = "login picture">
				<div class = "login-pic-wrapper">
					<% if (current_user.get('provider') === 'facebook') { %>
						<img src = "https://graph.facebook.com/<%= current_user.get('uid') %>/picture" width = "100%" />
					<% } else if (current_user.get('provider') === 'google') { %>
						<img src = "assets/icons/user.png" height = "100%" style = "background: #fff" />
					<% } else { %>
						<img src = "http://api.twitter.com/1/users/profile_image/<%= current_user.get('uid') %>?size=bigger" width = "100%" />
					<% } %>
				</div>
			</div>
			<div class = "login name">
				<%= current_user.get('name') %>
			</div>
		<% } %>
	</div> 
</div>
<div class = "header navbar" id = "navbar"></div>