<div id = "slider" style = "border: none; margin-top: -10px">
	<img id = "img1" src = "assets/img1.jpg" width = "900px" height = "400px"/>
	<img id = "img2" src = "assets/img2.png" width = "900px" height = "400px" />
	<img id = "img3" src = "assets/img3.png" width = "900px" height = "400px" />
</div>
<div class = "" id = "dots" style = "width: 145px; height: 20px; position: absolute; top: 360px; left: 5px; z-index: 1000">
	<div id = "nav" />
</div>
<!-- ><div class = "button-box">
	<div class = "next">NEXT</div>
	<div class = "triarrow"></div>
</div> -->