<div id = "slider" style = "border: none">
	<img id = "img1" width = "900px" height = "400px" style = "background: #008888; border: none" />
	<img id = "img2" width = "900px" height = "400px" style = "background: #000088; border: none" />
	<img id = "img3" width = "900px" height = "400px" style = "background: #880088; border: none" />
</div>
<div class = "" id = "dots" style = "width: 145px; height: 20px; position: absolute; top: 370px; left: 5px; z-index: 1000">
	<div id = "nav" />
</div>