<div id = "slider" style = "border: none; margin: -31px 0 0 0px">
	<div class = "slider-image" style = "width: 920px; 410px; overflow: hidden">
		<img id = "img1" src = "assets/slides/1.png" width = "922px" height = "410px" style = "margin: 0 0 0 -1px"/>
	</div>
	<div class = "slider-image">
		<img id = "img2" src = "assets/slides/2.png" width = "920px" height = "410px" />
	</div>
	<div class = "slider-image">
		<img id = "img3" src = "assets/slides/3.png" width = "920px" height = "410px" />
		<div id = "img3" class = "highlight-arrow">
			<div class = "highlight-box"></div>
		</div>
	</div>
</div>
<div class = "" id = "dots" style = "width: 145px; height: 20px; position: absolute; top: 330px; left: 15px; z-index: 1000">
	<div id = "nav" />
</div>
<div id = "testimonials" style = "margin-bottom: 40px">
	<div class = "testimonial-container">
		<span class="quotations">&#8220</span><span class = "testimonial">The site’s intuitive beyond belief; it’s as if it knows what I want to learn, and it helps me do it!</span><span class="quotations">&#8221</span><span class = "quotename">Natalie M.</span>
	</div>
	<div class = "testimonial-container">
		<span class="quotations">&#8220</span><span class = "testimonial">I don’t have to question the motives of journalists anymore; the facts are here, ripe for the taking.  </span><span class="quotations">&#8221</span><span class = "quotename">Shaun L.</span>
	</div>
	<div class = "testimonial-container">
		<span class="quotations">&#8220</span><span class = "testimonial">Anybody that can give me a working knowledge of marijuana legalization issues in 10 minutes, is good in my book. Pretty sure fuseGap did it in 7.</span><span class="quotations">&#8221</span><span class = "quotename">Jack B.</span>
	</div>
	<div class = "testimonial-container">
		<span class="quotations">&#8220</span><span class = "testimonial">The site was super easy to use. I loved being able to participate in a community where the facts finally matter.  </span><span class="quotations">&#8221</span><span class = "quotename">Renne K.</span>
	</div>
</div>
<div class = "like-button">
	<div class="fb-like" data-href="http://facebook.com/fusegap" data-send="false" data-layout="standard" data-width="880" data-show-faces="true" data-font="arial" />
</div>