<div class = "animation-wrapper">
	<div class = "ball one" id = "ball1"></div>
	<div class = "ball two" id = "ball2"></div>
	<div class = "ball three" id = "ball3"></div>
	<div class = "ball four" id = "ball4"></div>
	<div class = "ball five" id = "ball5"></div>
	<div class = "ball six" id = "ball6"></div>
	<div class = "ball seven" id = "ball7"></div>
	<div class = "ball eight" id = "ball8"></div>
	<div class = "logo-wrapper">
		<img src = "assets/logos/blue.png" height = "100%" />
	</div>
</div>