<div class = "issues" id = "issues">
	<div class = "label">Issues</div>
</div>
<div class = "factory" id = "factory">
	<div class = "label">FACT-ory</div>
</div>
<div class = "about" id = "about">
	<div class = "label">About</div>
</div>
<div class = "profile" id = "profile">
	<div class = "label">Profile</div>
</div>
<div class = "autocomplete" id = "search_add"></div>