<div class = "sub-page-container">
	
	<div class = "question-container">
		<div class = "arrow-container">
			<div class = "active-arrow"></div>
		</div>
		<div class = "active-question">
			What's the <b>point</b> of fuseGap?
		</div>
	</div>
	<div class = "inactive-panel inactive-panel-left">
		<img src="assets/fusegap_dark.png" width="70px">
	</div>
	<div class = "inactive-panel">
		<div class = "image-container">
			<div class = "jefferson"><img src="assets/Jefferson.png" width="125px"></div>
		</div>
	</div>
	<div class = "active-panel active-panel-left">
		<div class = "quote-container">
			<div class = "quote">
				</br>
				To <b>inform</b> people about the <b>facts</b> that matter to them.
			</div>
			</br>
		</div>
		<div class = "logo-image-container">
			<img src="assets/fusegap_dark.png" width="65px">
		</div>
	</div>
	<div class = "active-panel">
		<div class = "quote-container">
			<div class = "quote">
				<b>"</b>Educate and <b>inform</b> the whole mass of the people. They are the <b>only</b> sure reliance for the <b>preservation</b> of our liberty.<b>"</b>
			</div>
			</br>
			<div class = "author">-Thomas Jefferson</div>
		</div>
		<div class = "image-container">
			<div class = "jefferson"><img src="assets/Jefferson.png" width="125px"></div>
		</div>
	</div>
	
	<div class = "question-container">
		<div class = "arrow-container">
			<div class = "active-arrow"></div>
		</div>	
		<div class = "active-question">
			Aren't people <b>already</b> well-informed?
		</div>
	</div>
	<div class = "inactive-panel inactive-panel-left">
		<img src="assets/fusegap_dark.png" width="70px">
	</div>
	<div class = "inactive-panel">
		<div class = "image-container">
			<div class = "churchill"><img src="assets/churchill.png" width="125px"></div>
		</div>
	</div>
	<div class = "active-panel active-panel-left">
		<div class = "quote-container">
			<div class = "quote">
				</br>
				<b>1</b> out <b>5</b> American adults thinks that the <b>Sun</b> revolves around the <b>Earth</b>. <a href= "http://www.nytimes.com/2005/08/30/science/30profile.html?ex=1184990400&en=2fb126c3132f89ae&ei=5070" target = "_blank"><i><span class = "source">(<u>source</u>)</span></i></a>
				
			</div>
			</br>
		</div>
		<div class = "logo-image-container">
			<img src="assets/fusegap_dark.png" width="65px">
		</div>
	</div>
	<div class = "active-panel">
		<div class = "quote-container">
			<div class = "quote">
				<b>"</b>The <b>best</b> argument against democracy is a five-minute conversation with the <b>average voter</b>.<b>"</b>
			</div>
			</br>
			<div class = "author">-Winston Churchill</div>
		</div>
		<div class = "image-container">
			<div class = "churchill"><img src="assets/churchill.png" width="125px"></div>
		</div>
	</div>
	
	
	
	<div class = "question-container">
		<div class = "arrow-container">
			<div class = "active-arrow"></div>
		</div>
		<div class = "active-question">
			Does it really <b>matter</b> if society is uninformed?
		</div>
	</div>
	<div class = "inactive-panel inactive-panel-left">
		<div class = "image-container">
			<div class = "jfk"><img src="assets/jfk.png" width="125px"></div>
		</div>
	</div>
	<div class = "inactive-panel">
		<div class = "image-container">
			<div class = "mlk"><img src="assets/mlk.png" width="125px"></div>
		</div>
	</div>
	<div class = "active-panel active-panel-left">
		<div class = "quote-container">
			<div class = "quote">
				</br>
				<b>"</b>The ignorance of <b>one voter</b> in a democracy impairs the <b>security</b> of us all.<b>"</b>
			</div>
			</br>
			<div class = "author">-John F Kennedy</div>
		</div>
		<div class = "image-container">
			<div class = "jfk"><img src="assets/jfk.png" width="125px"></div>
		</div>
	</div>
	<div class = "active-panel">
		<div class = "quote-container">
			<div class = "quote">
				<b>"</b>Nothing in the world is more <b>dangerous</b> than sincere <b>ignorance</b> and conscientious <b>stupidity</b>.<b>"</b>
			</div>
			</br>
			<div class = "author">-Martin Luther King Jr</div>
		</div>
		<div class = "image-container">
			<div class = "mlk"><img src="assets/mlk.png" width="125px"></div>
		</div>
	</div>
	
	
	
	<div class = "question-container">
		<div class = "arrow-container">
			<div class = "active-arrow"></div>
		</div>
		<div class = "active-question">
			How does <b>fuseGap</b> help inform society?
		</div>
	</div>
	<div class = "inactive-panel inactive-panel-left">
		<img src="assets/fusegap_dark.png" width="70px">
	</div>
	<div class = "inactive-panel">
		<div class = "image-container">
			<div class = "aristotle"><img src="assets/aristotle.png" width="125px"></div>
		</div>
	</div>
	<div class = "active-panel active-panel-left">
		<div class = "quote-container">
			<div class = "quote">
				</br>
				We're trying to make it exponentially <b>easier</b> and way <b>less painful</b> to become informed.
			</div>
			</br>
		</div>
		<div class = "logo-image-container">
			<img src="assets/fusegap_dark.png" width="65px">
		</div>
	</div>
	<div class = "active-panel">
		<div class = "quote-container">
			<div class = "quote">
				</br>
				<b>"</b>The <b>educated</b> differ from the uneducated much like the living differ from the <b>dead</b>.<b>"</b>
			</div>
			</br>
			<div class = "author">-Aristotle</div>
		</div>
		<div class = "image-container">
			<div class = "aristotle"><img src="assets/aristotle.png" width="125px"></div>
		</div>
	</div>
	
	<div class = "question-container">
		<div class = "arrow-container">
			<div class = "inactive-arrow"></div>
		</div>
		<div class = "inactive-question">
			What's the <b>point</b> of fuseGap?
		</div>
	</div>
	<div class = "question-container">
		<div class = "arrow-container">
			<div class = "inactive-arrow"></div>
		</div>
		<div class = "inactive-question">
			Aren't people <b>already</b> well-informed?
		</div>
	</div>
	<div class = "question-container">
		<div class = "arrow-container">
			<div class = "inactive-arrow"></div>
		</div>
		<div class = "inactive-question">
			Does it really <b>matter</b> if society is uninformed?
		</div>
	</div>
	<div class = "question-container">
		<div class = "arrow-container">
			<div class = "inactive-arrow"></div>
		</div>
		<div class = "inactive-question">
			How does <b>fuseGap</b> help inform society?
		</div>
	</div>		
</div>
