<form id = "question_edit" class = "quedit">
	<label>Title:</label></br>
	<textarea id = "title"><%= question.get('title') %></textarea></br>
	
	<% if (question.get('category') === 'basic') { %>
		<input type = "radio" name = "category" id = "basics" checked = "yes" /><span> Basics</span>
		<input type = "radio" name = "category" id = "advanced" /><span> Advanced</span>
	<% } else { %>
		<input type = "radio" name = "category" id = "basics" /><span> Basics</span>
		<input type = "radio" name = "category" id = "advanced" checked = "yes" /><span> Advanced</span>
	<% } %></br>
	<input type = "submit" id = "submit" value = "Update Question" />
</form>
<button id = "history" class = "quedit button history">History</button>
<button id = "cancel" class = "quedit button cancel">Cancel</button>
<button id = "delete" class = "quedit button delete">Delete</button>
<button id = "quiz" class = "quedit button quiz">Add Quiz Answers</button>