<span class = "achievables <%= achievement.get('kind').split(' ')[0] %>"></span>
<!-- <div class = "cover"></div> -->
<img src = "assets/achievements/<%= achievement.get('thumbnail') %>" width = "100%"/>
<div class = "amount"><%= amount %></div>