<span class = "achievables <%= achievement.get('kind').split(' ')[0] %>"></span>
<% if (!user_unlocked) { %>
	<div class = "cover"></div>
<% } %>
<img src = "assets/achievements/<%= achievement.get('thumbnail') %>" width = "100%" style = "z-index: 999"/>
<div class = "amount"><%= amount %></div>