<div class = "rank picture">
	<% if (current_user.get('is_temp_user')) { %>
		<img src = "assets/fusegap.png" height = "100%" />
	<% } else { %>
		<% if (current_user.get('provider') === 'facebook') { %>
			<img src = "https://graph.facebook.com/<%= current_user.get('uid') %>/picture" width = "100%" />
		<% } else if (current_user.get('provider') === 'google') { %>
			<img src = "assets/fusegap.png" height = "100%" />
		<% } else { %>
			<img src = "http://api.twitter.com/1/users/profile_image/<%= current_user.get('uid') %>?size=bigger" width = "100%" />
		<% } %>
	<% } %>
</div>
<div class = "rank text">Your Rank: <b><%= rank.rank %></b> of <%= rank.users %></div>