<div class = "text">
	<div class = "rank">
		<% if (rank.rank !== null) { %>
			Rank: <span class = "label"><%= rank.rank %> of <%= rank.users %></span>
		<% } else { %>
			Unranked
		<% } %>
	</div>
</div>