.category {

	&.container {
		margin: -5px 0 0 0;
		width: 100%;
		position: relative;
		height: 160px;
	}
	
	&.top {
		cursor: pointer;
		border: 1px solid #9ca5bf;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 40px;
		overflow: hidden;
		@include border-top-radius(5px);
		
		.point {
			@include opacity(0);
		}
		
		.title.container {
			@include border-top-radius(4px);
		}
		
		.sidebar {
			@include border-corner-radius(top, right, 4px);
		}
	}
	
	&.middle {
		z-index: 1;
		border: 1px solid #9ca5bf;
		position: absolute;
		top: 40px;
		left: 0;
		width: 100%;
		height: 80px;
		@include single-box-shadow(rgba(#000, 0.3), 0, 0, 3px, 3px);
		@include border-radius(5px);
		
		.title.container {
			@include border-top-radius(4px);
		}
		
		.stats {
			@include border-bottom-radius(4px);
		}
		
		.sidebar {
			@include border-right-radius(4px);
		}
	}
	
	&.bottom {
		cursor: pointer;
		border: 1px solid #9ca5bf;
		position: absolute;
		top: 120px;
		left: 0;
		width: 100%;
		height: 40px;
		overflow: hidden;
		@include border-bottom-radius(5px);
		
		.point {
			@include opacity(0);
		}
		
		.title.container {
			@include border-bottom-radius(4px);
		}
		
		.sidebar {
			height: 40px;
			@include border-corner-radius(bottom, right, 4px);
		}
	}
	
	.title {
		width: 100%;
		text-align: center;
		height: 40px;
		line-height: 40px;
		
		&.container {
			background: #fff;
		}
	}
	
	.stats {
		width: 100%;
		height: 40px;
		background: #eee;
		border-top: 1px solid #ddd;
	}
	
	.sidebar {
		position: absolute;
		top: 0;
		right: 0;
		height: 80px;
		width: 30px;
		background: $black;
		
		.point {
			content: "";
			display: block; 
			border-width: 5px 0px 5px 10px;
			border-style: solid;
			border-color: rgba(#fff, 0) rgba(#fff, 0) rgba(#fff, 0) rgba($backgroundcolor, 1);
			width: 0;
			height: 0;
		}
		
		.container {
			position: absolute;
			top: 35px;
			left: 10px;
		}
	}
}