.fact.top {
	.vote {
		&.container {
			@include border-corner-radius(top, left, $innerRadius);
		}
	}
}

.fact.bottom {
	.stats {
		@include border-bottom-radius($innerRadius);
	}
	.vote {
		&.container {
			@include border-corner-radius(bottom, left, $innerRadius);
		}
	}
}

.fact {
	
	.vote {
		
		&.container {
			position: absolute;
			top: 0;
			left: 0;
			min-height: 80px;
			height: 100%;
			width: 10%;
			background: $black;
			border-right: 1px solid #ddd;
		}
		
		&.up {
			position: absolute;
			top: 12px;
			left: 40%;
			width: 34%;
			height: 11px;
		}
		
		&.down {
			position: absolute;
			top: 50px;
			left: 40%;
			width: 34%;
			width: 18px;
			height: 11px;
		}
		
		&.count {
			position: absolute;
			top: 28px;
			left: 12%;
			width: 80%;
			font-size: 16px;
			line-height: 18px;
			height: 18px;
			text-align: center;
			color: #fff;
		}
	}
	
	.title {
		
		&.container {
			margin: 2% 0 0 12%;
		}
	}
	
	.description {
		font-size: 0.875em;
		line-height: 1.286em;
		
		&.container {
			margin: 2% 0 0 12%;
		}
	}
	
	.sources {
		
		&.container {
			margin: 2% 0 60px 12%;
		}
	}
		
	.stats {
		position: absolute;
		bottom: 0;
		left: 10%;
		height: 50px;
		width: 90%;
		
		.picture {
			position: absolute;
			top: 10%;
			left: 2%;
			height: 80%;
			width: 7.5%;
			overflow: hidden;
			@include border-radius($radius);
		}
		
		.picture-wrapper {
			position: static;
			width: 100%;
			height: 100%;
			overflow: hidden;
			@include border-radius($radius);
		}
		
		.text {
			position: absolute;
			bottom: 10%;
			left: 11%;
			width: 20%;
			height: 50%;
			font-size: 0.688em;
		
			.name {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 33%;
			}
			
			.rank {
				position: absolute;
				top: 33%;
				left: 0;
				width: 100%;
				height: 33%;
			}
			
			.date {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 33%;
			}
		}
		
		.share {
			position: absolute;
			bottom: 2px;
			right: 1px;
			width: 40px;
			height: 40px;
		}
		
		.edit {
			position: absolute;
			bottom: 5px;
			right: 89px;
			width: 33px;
			height: 33px;
		}
		
		.comments {
			position: absolute;
			bottom: 9px;
			right: 43px;
			width: 41px;
			height: 27px;
			
			&.count {
				font-weight: bold;
				text-align: center;
				color: #fff;
				position: absolute;
				top: 25%;
				left: 0;
				width: 100%;
				height: 50%;
			}
		}
	}
	
	label {
		color: darken($backgroundcolor, 20%);
		font-weight: bold;
		font-size: 1em;
		margin: 1em 0 0 2.5%;
	}
	
	.optional {
		color: lighten($black, 50%);
		font-size: 12px;
	}
	
	textarea {
		border: 1px solid #ddd;
		border-style: inset;
		border-width: 2px;
		width: 94%;
		font-size: 0.875em;
		line-height: 1.286em;
		margin: 0 0 0 2.5%;
		@include border-radius($radius);
		
		&:focus{
			outline: none;
			@include single-box-shadow(rgba(#000, 0.5), 0, 0, 2px, 2px);
		}
	}
	
	input[type = text] {
		width: 94%;
		font-size: 0.875em;
		line-height: 1.286em;
		margin: 0 0 0 2.5%;
		@include border-radius($radius);
		
		&:focus{
			outline: none;
			@include single-box-shadow(rgba(#000, 0.5), 0, 0, 2px, 2px);
		}
	}
	
	input[type = submit] {
		font-weight: bold;
		cursor: pointer;
		color: #fff;
		margin: 0 0 1em 2.5%;
		width: 25%;
		height: 3em;
		border: 1px solid darken($backgroundcolor, 30%);
		background: darken($backgroundcolor, 20%);
		@include border-radius($radius);
		@include gradient(darken($backgroundcolor, 20%));
		@include single-box-shadow(inset, rgba(#000, 0.5), 0, 0, 5px, 5px);
		&:hover {
			border: 1px solid darken($backgroundcolor, 20%); 
			background: darken($backgroundcolor, 10%);
			@include gradient(darken($backgroundcolor, 10%));
		}
		
		&:active {
			border: 1px solid darken($backgroundcolor, 40%); 
			background: darken($backgroundcolor, 30%);
			@include reverse-gradient(darken($backgroundcolor, 30%));
		}
	}
	
	.light-text {
		font-style: italic;
		color: lighten($black, 50%);
	}
	
	.dark-text {
		color: $black;
	}
}

.fact-header {
	font-weight: bold;
}

.fact-add {
	font-weight: bold;
}