.header {
	width: 100%;
	position: fixed;
	z-index: 10;
	
	&.container {
		height: 6.25em;
		background: $greybackgroundblue;
	}
	
	&.navbar {
		height: 2.5em;
		background: $black;
		top: 3.75em;
		@include gradient($black);
		@include text-shadow(0, 0, 0, #d8d8d8);
		@include single-box-shadow(rgba(#000, 0.6), 0.0em, 0.063em, 0.213em, 0);
	}
	
	&.logo {	
		width: 14.063em;
		position: absolute; 
		top: 0.25em; 
		left: 0; 
		cursor: pointer;
		
		img {
			position: absolute;
			top: 5px;
			left: 0;
			height: 2.5em;
		}
	}
}

.logo-text {
	position: absolute; 
	top: 0.1em; 
	left: 48px;
	font-size: 2.5em; 
	color: $black;
	font-weight: bold;
}

.login {
	
	&.container {
		position: absolute;
		top: 0px;
		right: 0;
		width: 210px;
		height: 60px;
	}
	
	&.signin {
		position: absolute;
		bottom: 3px;
		left: 0;
		width: 60px;
		height: 20px;
		font-size: 16px;
		line-height: 20px;
		color: #fff;
	}
	
	&.facebook {
		cursor: pointer;
		position: absolute;
		bottom: 0;
		right: 104px;
		width: 50px;
		height: 50px;
	}
	
	&.google {
		cursor: pointer;
		position: absolute;
		bottom: 0;
		right: 50px;
		width: 50px;
		height: 50px;
	}
	
	&.twitter {
		cursor: pointer;
		position: absolute;
		bottom: 0;
		right: -4px;
		width: 50px;
		height: 50px;
	}
	
	&.picture {
		position: absolute;
		bottom: 5px;
		right: 0;
		width: 45px;
		height: 45px;
		overflow: hidden;
		@include border-radius(5px);
		@include single-box-shadow(rgba(#000, 0.5), 0, 0, 2px, 2px);
	}
	
	&.name {
		position: absolute;
		bottom: 2px;
		right: 50px;
		height: 18px;
		font-size: 16px;
		line-height: 18px;
	}
}

.header.container {
	.wrapper { 
		width: 56.25em;  /* default 900px */
		height: 6.25em;
		position: relative;
		margin: 0 auto;
	}
}