.issue {
		
	.title {
		color: #fff;
		position: relative;
		text-align: left;
		font-size: 16px;
		line-height: 18px;
		width: 96%;
		height: 18px;
		margin: 11px 0 0 4%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		&.container {
			background: $black;
			position: absolute;
			margin: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 40px;
			@include border-top-radius(4px);
			border-bottom: 1px solid darken($black, 10%);
		}
	}

	.thumbnail {	
		width: 104px;
		height: 104px;
		position: absolute;
		top: 72px;
		left: 5%;
	}
	
	.rank {
		position: absolute;
		
		&.picture {
			top: 10%;
			left: 5%;
			height: 80%;
			width: 16%;
			@include border-radius(5px);
			overflow: hidden;
		}
			
		&.container {
			border: none;
			background: #eee;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 52px;
			@include border-bottom-radius(4px);
			border-top: 1px solid #ddd;
		}
		
		&.text {
			font-size: 14px;
			bottom: 10%;
			left: 25%;
		}
	}
	
	.browse {
		font-size: 11px;
		position: absolute;
		bottom: 120px;
		right: 5%;
		height: 10%;
		width: 30%;
		
		button {
			font-size: 1em;
			width: 100%;
			height: 100%;
			@include border-radius($radius);
			@include single-box-shadow(rgba(#000, 0.3), 0, 0, 2px, 2px, inset);
			&.active {
				color: #fff;
				background: $textblue;
				border: 1px solid darken($backgroundcolor, 25%);
				cursor: pointer;
				@include gradient(darken($backgroundcolor, 10%));
				
				&:hover {
					background: lighten($backgroundcolor, 0%);
					@include gradient(lighten($backgroundcolor, 0%));
				}

				&:active{
					background: darken($backgroundcolor, 20%);
					@include reverse-gradient(darken($backgroundcolor, 20%));
				}
			}
			
			&.inactive {
				color: lighten($black, 20%);
				background: #ccc;
				border: 1px solid darken(#ccc, 10%);
				cursor: default;
				@include reverse-gradient(#ccc);
			}
		}
	}
	
	.quiz {
		font-size: 11px;
		position: absolute;
		bottom: 84px;
		right: 5%;
		height: 10%;
		width: 30%;
		
		button {
			font-size: 1em;
			width: 100%;
			height: 100%;
			@include border-radius($radius);
			@include single-box-shadow(rgba(#000, 0.5), 0, 0, 2px, 2px, inset);
			&.active {
				color: #fff;
				background: $textblue;
				border: 1px solid darken($black, 10%);
				cursor: pointer;
				@include gradient($black);

				&:hover {
					background: lighten($black, 10%);
					@include gradient(lighten($black, 10%));
				}

				&:active{
					background: darken($black, 10%);
					@include reverse-gradient(darken($black, 10%));
				}
			}
			
			&.inactive {
				color: lighten($black, 20%);
				background: #ccc;
				border: 1px solid darken(#ccc, 10%);
				cursor: default;
				@include reverse-gradient(#ccc);
			}
		}
	}
	
	.hover-container {
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0.7);
		z-index: 1;
		opacity: 0;
		@include border-radius(4px);
	
		transition: opacity 1s;
		-moz-transition: opacity 1s; /* Firefox 4 */
		-webkit-transition: opacity 1s; /* Safari and Chrome */
		-o-transition: opacity 1s; /* Opera */
	
		&:hover {
			opacity: 1;
		}	
		.description {
			background: none;
			position: relative;
			display:inline;
			color:#FFF;
		}
	}
}

.issue.active {

	.title {
		color: #fff;
		position: relative;
		text-align: left;
		font-size: 16px;
		line-height: 18px;
		width: 96%;
		height: 18px;
		margin: 11px 0 0 4%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		&.container {
			background: $black;
			position: absolute;
			margin: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 40px;
			@include border-top-radius(4px);
			border-bottom: 1px solid darken($black, 10%);
		}
	}

	.thumbnail {	
		width: 104px;
		height: 104px;
		position: absolute;
		top: 72px;
		left: 5%;
	}
	
	.rank {
		position: absolute;
		
		&.picture {
			top: 10%;
			left: 5%;
			height: 80%;
			width: 16%;
			@include border-radius(5px);
			overflow: hidden;
		}
			
		&.container {
			border: none;
			background: #eee;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 52px;
			@include border-bottom-radius(4px);
			border-top: 1px solid #ddd;
		}
		
		&.text {
			font-size: 14px;
			bottom: 10%;
			left: 25%;
		}
	}
	
	.browse {
		font-size: 11px;
		position: absolute;
		bottom: 120px;
		right: 5%;
		height: 10%;
		width: 30%;
		
		button {
			font-size: 1em;
			width: 100%;
			height: 100%;
			@include border-radius($radius);
			@include single-box-shadow(rgba(#000, 0.3), 0, 0, 2px, 2px, inset);
			&.active {
				color: #fff;
				background: $textblue;
				border: 1px solid darken($backgroundcolor, 25%);
				cursor: pointer;
				@include gradient(darken($backgroundcolor, 10%));
				
				&:hover {
					background: lighten($backgroundcolor, 0%);
					@include gradient(lighten($backgroundcolor, 0%));
				}

				&:active{
					background: darken($backgroundcolor, 20%);
					@include reverse-gradient(darken($backgroundcolor, 20%));
				}
			}
			
			&.inactive {
				color: lighten($black, 20%);
				background: #ccc;
				border: 1px solid darken(#ccc, 10%);
				cursor: default;
				@include reverse-gradient(#ccc);
			}
		}
	}
	
	.quiz {
		font-size: 11px;
		position: absolute;
		bottom: 84px;
		right: 5%;
		height: 10%;
		width: 30%;
		
		button {
			font-size: 1em;
			width: 100%;
			height: 100%;
			@include border-radius($radius);
			@include single-box-shadow(rgba(#000, 0.5), 0, 0, 2px, 2px, inset);
			&.active {
				color: #fff;
				background: $textblue;
				border: 1px solid darken($black, 10%);
				cursor: pointer;
				@include gradient($black);

				&:hover {
					background: lighten($black, 10%);
					@include gradient(lighten($black, 10%));
				}

				&:active{
					background: darken($black, 10%);
					@include reverse-gradient(darken($black, 10%));
				}
			}
			
			&.inactive {
				color: lighten($black, 20%);
				background: #ccc;
				border: 1px solid darken(#ccc, 10%);
				cursor: default;
				@include reverse-gradient(#ccc);
			}
		}
	}
	
	.hover-container {
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0.7);
		z-index: 1;
		opacity: 0;
		@include border-radius(4px);
	
		transition: opacity 1s;
		-moz-transition: opacity 1s; /* Firefox 4 */
		-webkit-transition: opacity 1s; /* Safari and Chrome */
		-o-transition: opacity 1s; /* Opera */
	
		&:hover {
			opacity: 1;
		}	
		.description {
			background: none;
			position: relative;
			display:inline;
			color:#FFF;
		}
	}
}
.issue_title_container {
	position: relative;
	margin: 7px 0 0 5px;
	width: 100%;
	height: 40px;
	.issue_title {
		position: absolute;
		margin: 0 0 0 45px;
		font-weight: bold;
		color: rgb(85,85,85);
		font-size: 16px;
		line-height: 19px;
	}
	.issue_header_picture {
		position: absolute;
		height: 36px;
		width: 36px;
		@include border-radius(5px);
	}
	.issue_header_picture_wrapper {
		overflow: hidden;
		position: static;
		width: 100%;
		height: 100%;
		@include border-radius(5px);
	}
	.quizme {
		height: 12px;
		font-size: 12px;
		top: 28px;
		left: 242px;
		text-align: center;
		position: absolute;
		padding: 3px 0 4px 0;
		width: 75px;
		color: rgb(190,190,190);
		font-weight: bold;
		background-color: lighten($questionbubblecolor, 30%);
		border: 2px solid lighten($questionbubblecolor, 20%);
		@include border-radius(8px);
		&:hover {
			color: rgb(75,75,75);
			background-color: lighten($questionbubblecolor, 20%);
			border: 2px solid lighten($questionbubblecolor, 1%);
			cursor: pointer;
		}
	}
}
.description-header {
	position: relative;
	margin: 23px 0 0 3px;
	font-weight: bold;
	font-size: 13px;
	color: rgb(105,105,105);
	border-top: 1px solid rgb(210,210,210);
	width: 100%;
	padding-top: 13px;
}
.description-text {
	position: relative;
	margin: 12px 0 0 3px;
	font-size: 12px;
	line-height: 16px;
	color: rgb(165,165,165);
	border-bottom: 1px solid rgb(190,190,190);
	width: 100%;
	padding-bottom: 13px;
	&:hover {
		color: rgb(100,100,100);
	}
}
.issue_current_user_container {
	position: relative;
	margin: 0 0 0 3px;
	width: 100%;
	font-size: 13px;
	color: rgb(105,105,105);
	padding: 13px 0 18px 0;
	border-bottom: 1px solid rgb(220,220,220);
	.current_user_title {
		font-weight: bold;
		margin-bottom: -5px;
	}
	.current_user_display {
		position: relative;
		margin: 20px 0 0 30px;
		font-weight: bold;
		font-size: 12px;
		color: darken(desaturate($questionbubblecolor, 1%),1%);
		.leaderboard_name {
			&:hover {
				text-decoration: underline;
				color: darken(desaturate($questionbubblecolor, 1%),18%);
				cursor: pointer;
			}
		}
		.leaderboard_rank {
			color: rgb(85,85,85);
		}
		.leaderboard_user_picture {
			position: absolute;
			top: -6px;
			right: 50px;
			height: 25px;
			width: 25px;
			@include border-radius(3px);
		}
		.leaderboard_user_picture_wrapper {
			overflow: hidden;
			position: static;
			width: 100%;
			height: 100%;
			@include border-radius(3px);
		}
	}
}
.issue_leaderboard_container {
	position: relative;
	margin: 13px 0 0 3px;
	width: 100%;
	font-size: 13px;
	color: rgb(105,105,105);
	border-bottom: 1px solid rgb(230,230,230);
	padding-bottom: 18px;
	.leaderboard_title {
		font-weight: bold;
		margin-bottom: -5px;
	}
	.leaderboard_user {
		position: relative;
		margin: 20px 0 0 30px;
		font-weight: bold;
		font-size: 12px;
		color: darken(desaturate($questionbubblecolor, 1%),1%);
		.leaderboard_name {
			&:hover {
				text-decoration: underline;
				cursor: pointer;
				color: darken(desaturate($questionbubblecolor, 1%),18%);
			}
		}
		.leaderboard_rank {
			color: rgb(85,85,85);
		}
		.leaderboard_user_picture {
			position: absolute;
			top: -6px;
			right: 50px;
			height: 25px;
			width: 25px;
			@include border-radius(3px);
		}
		.leaderboard_user_picture_wrapper {
			overflow: hidden;
			position: static;
			width: 100%;
			height: 100%;
			@include border-radius(3px);
		}
	}
}