html {
	height: 100%;
	@include fonts;
	color: #333333;
	font-size: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: $greybackgroundblue;
	font-size: 1em;
}

textarea {
    resize: none;
}

.page {
	width: 920px; 
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.static {
	width: 100%;
	position: absolute;
	top: 6.875em;
	left: 0;
}

.column {
	position: absolute;
	top: 6.875em;
	margin: 0;
	padding: 0;
	
	&.left {
		width: 20.125em;  /* default 322px */
		left: 14px;

		
		&.side {
			top: 0;
			left: 0;
			position: relative;
			margin: 0 auto;
			padding: 0;
			
			&.top {
				height: auto;
			}

			&.bottom {
				overflow: hidden;
			    height: 50%;

				&:hover {
					overflow-y: scroll;
				}
			}
		}
	}
	
	&.right {
		width: 33.375em;  /* default 534px */
		right: 14px;
	}

	&.container {
		position: fixed;
		width: 20.125em;
		height: 100%;		
	}
}

.background {
	width: 920px;
	height: 100%;
	background: rgba(#fff, 1);
	position: fixed;
	top: 0;
	z-index: -1000;
	/*@include box-shadow(rgba(#000, 0.25) 0 5px 5px 0, rgba(#000, 0.25) 0 -5px 5px 0);*/

	&.container {
		background: none;
		height: 0;
		position: relative;
		margin: 0 auto;
	}
}