.navigation {
	width: 920px;
	margin: 0 auto;
	position: relative;
	height: 40px;
	
	.issues {
		font-weight: bold;
		font-size: 80%;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 10px;
		width: 60px;
		height: 100%;
		.label {
			color: rgb(187,187,187);
			content: #8226;
		}
		
		&:hover {
			.label {
				color: rgb(255,255,255);
			}
		}
	}
	
	.factory {
		font-weight: bold;
		font-size: 80%;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 102px;
		width: 60px;
		height: 100%;
		
		.label {
			color: rgb(187,187,187);
		}
		.factoryFACT {
			color: rgb(215,215,215);
		}
		&:hover {
			.label {
				color: rgb(230,230,230);
			}
			.factoryFACT {
				color: rgb(255,255,255);
			}
		}
	}
	
	.about {
		font-weight: bold;
		font-size: 80%;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 193px;
		width: 60px;
		height: 100%;
		.label {
			color: rgb(187,187,187);
		}
		
		&:hover {
			.label {
				color: rgb(255,255,255);
			}
		}
	}
	
	.profile {
		font-weight: bold;
		font-size: 80%;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 284px;
		width: 60px;
		height: 100%;
		
		.label {
			color: rgb(187,187,187);
		}
		
		&:hover {
			.label {
				color: rgb(255,255,255);
			}
		}
	}
	
	.label {
		position: absolute;
		top: 11px;
		left: 0;
		height: 18px;
		width: 100%;
		color: #fff;
		text-align: center;
	}
	
	.autocomplete {
		position: absolute;
		top: 0;
		left: 490px;
		width: 450px;
		height: 40px;
		
		.autocom-result {
			height: 20px; 
			line-height: 20px;
			border-bottom: 1px solid #ccc; 
			font-size: 14px; 
			width: 542px; 
			overflow: hidden; 
			text-overflow: ellipsis; 
			white-space: nowrap;
			cursor: pointer;

			&.hovered {
				background: $backgroundcolor;	
			}
		}
		
		input {
			width: 327px; 
			margin: 6px 0 0 81px; 
			@include border-radius(5px);
			padding-left: 10px;
			height: 25px;
			font-size: 14px;
			line-height: 20px;
			border: none;
			border-top: 1px solid #b0b0b0;
			&:hover{
				outline: none;
				@include single-box-shadow(darken(#81B5C4, 20%), 0, 0, 1px, 1px);
			}
			&:focus{
				outline: none;
				@include single-box-shadow(darken(#81B5C4, 10%), 0, 0, 2px, 2px);
				width: 534px;
				margin-left: -126px;
			}
		}
		
		.light-text {
			&:hover{
				color: lighten($black, 10%);
			}
			color: lighten($black, 45%);
			font-size: 80%;
		}
		
		.dark-text {
			color: $black;
		}
		
		.image {
			position: absolute;
			top: 14px;
			left: 398px;
			width: 14px;
			height: 10px;
		}
		
		.results {
			width: 542px; 
			margin: 0 0 0 -126px; 
			background: #fff;
			@include border-bottom-radius(5px);
			border-bottom: 1px solid darken($black, 10%);
			border-left: 1px solid darken($black, 10%);
			border-right: 1px solid darken($black, 10%);
			
			.new-container {
				width: 540px;
				min-height: 40px;
				padding-left: 2px;
			}
			
			.new-question {
				line-height: 20px;
				font-size: 14px;
				width: 480px;
				float: left;
			}
			
			.ask {
				cursor: pointer;
				text-align: center;
				width: 56px;
				height: 34px;
				font-size: 16px;
				line-height: 18px;
				margin:2px 2px 0 2px;
				float: right;
				color: #fff;
				background: $backgroundcolor;
				border: 1px solid darken($backgroundcolor, 15%);
				@include border-radius(5px);
				@include gradient($backgroundcolor);
				@include single-box-shadow(rgba(#000, 0.3), 0, 0, 2px, 2px, inset);
				
				&:hover {
					background: lighten($backgroundcolor, 10%);
					@include gradient(lighten($backgroundcolor, 10%));
				}
				
				&:active {
					background: darken($backgroundcolor, 10%);
					@include reverse-gradient(darken($backgroundcolor, 10%));
				}
			}
		}
	}
}