.navigation {
	width: 900px;
	margin: 0 auto;
	position: relative;
	height: 40px;
	
	.issues {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 100%;
		border-left: 1px solid $black;
		
		&:hover {
			background: rgba(#fff, 0.1);
			
			.label {
				color: #55B9D5;
			}
		}
	}
	
	.factory {
		cursor: default;
		position: absolute;
		top: 0;
		left: 120px;
		width: 120px;
		height: 100%;
		border-left: 1px solid $black;
		border-right: 1px solid $black;
		
		.label {
			color: rgba(#fff, 0.2);
		}
		/* &:hover {
			background: rgba(#fff, 0.1);
			
			.label {
				color: #55B9D5;
			}
		} */
	}
	
	.about {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 240px;
		width: 120px;
		height: 100%;
		border-left: 1px solid $black;
		border-right: 1px solid $black;
		
		&:hover {
			background: rgba(#fff, 0.1);
			
			.label {
				color: #55B9D5;
			}
		}
	}
	
	.profile {
		cursor: default;
		position: absolute;
		top: 0;
		left: 360px;
		width: 120px;
		height: 100%;
		border-right: 1px solid $black;
		
		.label {
			color: rgba(#fff, 0.2);
		}
		
		/* &:hover {
			background: rgba(#fff, 0.1);
			
			.label {
				color: #55B9D5;
			}
		} */
	}
	
	.label {
		position: absolute;
		top: 11px;
		left: 0;
		height: 18px;
		width: 100%;
		color: #fff;
		text-align: center;
	}
	
	.autocomplete {
		position: absolute;
		top: 0;
		right: 0;
		width: 420px;
		height: 40px;
		
		input {
			width: 382px; 
			margin: 6px 0 0 15px; 
			@include border-radius(5px);
			padding-left: 20px;
			height: 20px;
			font-size: 16px;
			line-height: 20px;
			
			&:focus{
				outline: none;
				@include single-box-shadow(rgba(#000, 0.75), 0, 0, 3px, 3px);
			}
		}
		
		.light-text {
			font-style: italic;
			color: lighten($black, 50%);
		}
		
		.dark-text {
			color: $black;
		}
		
		.image {
			position: absolute;
			top: 12px;
			left: 20px;
			width: 16px;
			height: 16px;
		}
		
		.results {
			width: 404px; 
			margin: 0 0 0 15px; 
			background: #fff;
			@include border-bottom-radius(5px);
			border-bottom: 1px solid $black;
			border-left: 1px solid $black;
			border-right: 1px solid $black;
			
			.new-container {
				width: 404px;
				min-height: 40px;
			}
			
			.new-question {
				line-height: 20px;
				font-size: 14px;
				width: 340px;
				float: left;
			}
			
			.ask {
				cursor: pointer;
				text-align: center;
				width: 56px;
				height: 34px;
				font-size: 16px;
				line-height: 18px;
				margin:2px 2px 0 2px;
				float: right;
				color: #fff;
				background: #55B9D5;
				border: 1px solid darken(#55B9D5, 15%);
				@include border-radius(5px);
				@include gradient(#55B9D5);
				@include single-box-shadow(rgba(#000, 0.3), 0, 0, 2px, 2px, inset);
				
				&:hover {
					background: lighten(#55B9D5, 10%);
					@include gradient(lighten(#55B9D5, 10%));
				}
				
				&:active {
					background: darken(#55B9D5, 10%);
					@include reverse-gradient(darken(#55B9D5, 10%));
				}
			}
		}
	}
}