.panel {
	width: 100%;
	position: relative;
	cursor: pointer;
	
	&.issue {
		z-index: 3;
		cursor: default;
		width: 260px;
		height: 260px;
		background: #fff;
		@include border-radius($radius);
		position: relative;
		border: 1px solid #9ca5bf;
		@include box-shadow(rgba(#000, 0.1) 2px 0 2px, rgba(#000, 0.1) -2px 0 2px, rgba(#000, 0.1)  0 2px 2px);
		
		&.preview {
			width: 16.25em;
			height: 16.25em;
			margin: 1.25em 0 0.625em 1.875em;
			position: relative;
			float: left;
		}
	}
	
	&.question {
		width: 100%;
		position: relative;
		cursor: default;
		
		&.active {
    	background: #fff;
    	border-left: 1px solid darken(desaturate($backgroundcolor, 20%),10%);
			border-right: 1px solid darken(desaturate($backgroundcolor, 20%),10%);
			@include border-top-radius(7px);
			border-top: 1px solid darken(desaturate($backgroundcolor, 20%),10%);
			@include border-bottom-radius(7px);
			border-bottom: 1px solid darken(desaturate($backgroundcolor, 20%),10%);
			@include box-shadow(rgb(210,210,210) 0 1px 1px);
    }
		
		&.preview {
			cursor: pointer;
			height: 9.5em;
			background: #fff;
			border-left: 1px solid rgb(180,180,180);
			border-right: 1px solid rgb(180,180,180);
			@include border-top-radius(7px);
			border-top: 1px solid rgb(180,180,180);
			@include border-bottom-radius(7px);
			border-bottom: 1px solid rgb(180,180,180);
			margin-bottom: 10px;
			@include box-shadow(rgb(218,218,218) 0 1px 1px);

			&:nth-child(even) {
				border-left: 1px solid rgb(160,160,160);
				border-right: 1px solid rgb(160,160,160);
				@include border-top-radius(7px);
				border-top: 1px solid rgb(155,155,155);
				@include border-bottom-radius(7px);
				border-bottom: 1px solid rgb(160,160,160);
				@include box-shadow(rgb(210,210,210) 0 1px 1px);
				
				.bubble {
					border: 2px solid darken(desaturate($questionbubblecolor, 15%),15%);
				}
				.triangle-border:before {
					border-color: darken(desaturate($questionbubblecolor, 15%),15%) transparent transparent transparent;
				}
			}

			&:hover {
				background: mix(#fff, #57BBD6, 95%);
				.triangle-border:after {
					border-color:rgb(246, 251, 252) transparent transparent transparent;
				}
			}

			&.top {
				margin-top: 1px;
			}

			&.bottom {
				margin-bottom: 15px;
			}
		}
		
	}
	
	&.fact {
		width: 100%;
		background: #fff;
		margin: 0;
		position: relative;
		cursor: default;
		min-height: 150px;
		border: 1px solid #777;
		
		&.top {
			@include border-top-radius($radius);
		}
		
		&.bottom {
			@include border-bottom-radius($radius);
		}
		
		&.create {
			@include border-radius($radius);
			margin-bottom: 0.625em;
		}
	}
	
	&.user {
		width: 100%;
		background: #fff;
		margin: 0 0 10px 0;
		position: relative;
		height: 150px;
		border: 1px solid #777;
		
		@include border-radius(5px);
	}
	
	&.quiz {
		width: 100%;
		background: #fff;
		border: 1px solid #777;
		
		@include border-radius(5px);
	}
}