.popup {
	
	&.container {
		position: absolute;
		width: 900px;
		margin: 0 auto;
		height: 60px;
	}
	
	&.wrapper {
		z-index: 1000;
		position: absolute;
		top: 100px;
		left: 255px;
		width: 450px;
		height: 60px;
		background: lighten(desaturate($questionbubblecolor, 5%), 10%);
	}
}