.question.preview {
	.bubble {
		border: 2px solid $questionbubblecolor;
		position: absolute;
		top: 12px;
		left: 14px;
		width: 94.2%;
		height: 43%;
		@include border-radius(15px);
		z-index: 1;
		&:hover {
			cursor: pointer;
			background: lighten($backgroundcolor, 30%);
			.title {
				color: darken($black, 20%);
			}
		}
	
		.title {
			position: relative;
			font-size: 15px;
			line-height: 18px;
			display: table-cell;
			color: lighten($black,10%);  
		  	vertical-align: middle; 
		  	text-align: left;
			
			&.container {
				margin: 1% 0 0 2%;
				width: 96%;
				height: 88%;
				display: table;
			}
		}
	}
	.triangle-border:before {
		left:43px;  /* controls horizontal position */
	}
	.triangle-border:after {
		left:45px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	}	
	
	.stats {
		position: absolute;
		bottom: 3px;
		left: 19px;
		width: 90%;
		height: 35%;
		
		.small-upvoting-container {
			position: absolute;
			top: 8px;
			left: 14px;
			height: 12px;
			width: 15px;	
			&:hover {
				.really-small-arrow{
					border-color: rgba(#fff, 0) rgba(#fff, 0) rgba($backgroundcolor, 1) rgba(#fff, 0);
				}
			}
		}
		.small-downvoting-container {
			position: absolute;
			top: 35px;
			left: 14px;
			height: 12px;
			width: 15px;
			&:hover {
				.really-small-darrow{
					border-color: rgba($backgroundcolor, 1) rgba(#fff, 0) rgba(#fff, 0) rgba(#fff, 0);
				}
			}
		}
		
		.picture {
			position: absolute;
			top: 6px;
			left: 31px;
			height: 38px;
			width: 38px;
			@include border-radius(3px);
		}
		
		.picture-wrapper {
			overflow: hidden;
			position: static;
			width: 100%;
			height: 100%;
			@include border-radius(3px);
		}
		
		.text {
			position: absolute;
			top: 10px;
			left: 80px;
			width: 45%;
			height: 50%;
			font-size: 0.80em;
			font-weight: bold;
			
			.name {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 50%;
				color: lighten($black, 1%);
				&:hover {
					cursor: pointer;
					color: darken(desaturate($questionbubblecolor, 1%),18%);
				}
			}
			
			.rank {
				position: absolute;
				bottom: -10%;
				left: 0;
				font-size: 0.7em;
				width: 100%;
				height: 50%;
				color: lighten($black, 30%);
				.label {
					font-weight: normal;
				}
			}
			
			.date {
				font-weight: normal;
				font-size: 0.70em;
				color: lighten($black, 35%);
			}
		}
		
		.votes {
			&.container {
				position: absolute;
				bottom: 7px;
				right: 77px;
				width: 42px;
				height: 42px;
			}
			
			&.label {
				font-size: 8px;
				color: lighten($black, 20%);
				position: absolute;
				top: -15%;
				left: -1px;
				width: 100%;
				text-align: center;
			}
			
			&.box {
				cursor: default;
				position: absolute;
				bottom: 10%;
				left: 10%;
				width: 80%;
				height: 80%;
				background: $backgroundcolor;
				@include border-radius(0.3em);
			}
			
			&.number {
				width: 100%;
				margin: 0.3em 0 0 0;
				text-align: center;
				font-weight: bold;
				color: #fff;
				font-size: 1.25em;
			}
		}
		
		.facts {
			&.container {
				position: absolute;
				bottom: 7px;
				right: 31px;
				width: 42px;
				height: 42px;
			}
			
			&.label {
				font-size: 8px;
				color: lighten($black, 20%);
				position: absolute;
				top: -15%;
				left: -1px;
				width: 100%;
				text-align: center;
			}
			
			&.box {
				cursor: default;
				position: absolute;
				bottom: 10%;
				left: 10%;
				width: 80%;
				height: 80%;
				background: desaturate(darken($backgroundcolor, 5%), 20%);
				@include border-radius(0.3em);
			}
			
			&.number {
				width: 100%;
				margin: 0.3em 0 0 0;
				text-align: center;
				font-weight: bold;
				color: #fff;
				font-size: 1.25em;
			}
		}
		.comments {
			&.container {
				position: absolute;
				bottom: 7px;
				right: -16px;
				width: 42px;
				height: 42px;
			}
			
			&.label {
				font-size: 8px;
				color: lighten($black, 20%);
				position: absolute;
				top: -15%;
				left: -2px;
				width: 100%;
				text-align: center;
			}
			
			&.box {
				cursor: default;
				position: absolute;
				bottom: 10%;
				left: 10%;
				width: 80%;
				height: 80%;
				background: $black;
				@include border-radius(0.3em);
			}
			
			&.number {
				width: 100%;
				margin: 0.3em 0 0 0;
				text-align: center;
				font-weight: bold;
				color: #fff;
				font-size: 1.25em;
			}
		}
	}
}

.question {
	.triangle-border:before {
		left:18px;  /* controls horizontal position */
	}
	.triangle-border:after {
		left:20px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	}
	
	.inner {	
		width: 100%;
		height: 11em;
		
		.vote {
			&.container {
				position: relative;
				width: 5%;
				height: 100%;
				@include border-left-radius(5px);
				@include border-right-radius(5px);
				background: $backgroundcolor;
			}
		
			&.up {
				position: absolute;
				top: 51px;
				left: 6px;
				width: 45%;
				height: 15px;
			}
		
			&.down {
				position: absolute;
				top: 111px;
				left: 6px;
				width: 45%;
				height: 15px;
			}
		
			&.count {
				position: absolute;
				text-align: center;
				font-size: 29px;
				line-height: 26px;
				color: #fff;
				top: 75px;
				left: 6px;
				width: 80%;
				height: 26px;
			}
		}
	
		.bubble {
			border: 2px solid $questionbubblecolor;
			position: absolute;
			top: 13px;
			left: 43px;
			width: 89%;
			height: 40%;
			@include border-radius(16px);
			z-index: 1;
	
			.title {
				position: relative;
				font-size: 18px;
				line-height: 22px;
				display: table-cell; 
			  vertical-align: middle; 
			  text-align: left;
				color: lighten($black,10%);
			
				&.container {
					margin: 8px 0 0 10px;
					width: 96%;
					height: 88%;
					display: table;
				}
			}
		}
	
		.stats {
			position: absolute;
			left: 48px;
			width: 90%;
			bottom: 6px;
			height: 50px;

			.picture {
				position: absolute;
				top: 6px;
				left: 31px;
				height: 38px;
				width: 38px;
				@include border-radius(3px);
			}

			.picture-wrapper {
				overflow: hidden;
				position: static;
				width: 100%;
				height: 100%;
				@include border-radius(3px);
			}

			.text {
				position: absolute;
				top: 12px;
				left: 80px;
				width: 45%;
				height: 58%;
				font-size: 0.80em;
				font-weight: bold;

				.name {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 50%;
					color: lighten($black, 1%);
				}

				.rank {
					position: absolute;
					bottom: -5%;
					left: 0;
					font-size: 0.7em;
					width: 100%;
					height: 50%;
					color: lighten($black, 30%);
					.label {
						font-weight: normal;
					}
				}

				.date {
					font-weight: normal;
					font-size: 0.70em;
					color: lighten($black, 35%);
				}
			}
			
			.actions {
				font-size: 12px;
				line-height: 20px;
				color: rgb(146,146,146);
				position: absolute;
				bottom: 19px;
				left: 323px;
				width: 170px;
				height: 20px;

				.edit {
					position: absolute;
					left: 11px;
					&:hover {
						color: darken($questionbubblecolor, 28%);
						cursor: pointer;
						text-decoration: underline;
					}
				}
			
				.comments {
					position: absolute;
					left: 42px;
					&:hover {
						color: darken($questionbubblecolor, 28%);
						cursor: pointer;
						text-decoration: underline;
					}
				}
				.share {
					position: absolute;
					left: 109px;
					&:hover {
						color: darken($questionbubblecolor, 28%);
						cursor: pointer;
						text-decoration: underline;
					}
				}
				
				.leftspacer {
					position: absolute;
					bottom: -1px;
					color: rgb(211,211,211);
					font-size: 18px;
					left: 35px;
				}
				.rightspacer {
					position: absolute;
					bottom: -1px;
					color: rgb(211,211,211);
					font-size: 18px;
					left: 102px;
				}
			}
		}
	}
}

.triangle-border:before {
	content:"";
	position:absolute;
	bottom:-13px; /* value = - border-top-width - border-bottom-width */
  border-width:12px 10px 0px 10px;
	border-style:solid;
    border-color:$questionbubblecolor transparent transparent transparent; /* $backgroundcolor */
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

.triangle-border:after {
	content:"";
	position:absolute;
	bottom:-9px; /* value = - border-top-width - border-bottom-width */
	border-width:9px 8px 0px 8px;
	border-style:solid;
	border-color:#fff transparent transparent transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}