.question.preview {
	.bubble {
		border: 2px solid $questionbubblecolor;
		position: absolute;
		top: 12px;
		left: 14px;
		width: 94.2%;
		height: 43%;
		@include border-radius(15px);
		z-index: 1;
	
		.title {
			position: relative;
			font-size: 15px;
			line-height: 18px;
			display: table-cell;
			color: lighten($black,10%);  
		  	vertical-align: middle; 
		  	text-align: left;
			
			&.container {
				margin: 1% 0 0 2%;
				width: 96%;
				height: 88%;
				display: table;
			}
		}
	}
	.triangle-border:before {
		left:43px;  /* controls horizontal position */
	}
	.triangle-border:after {
		left:45px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	}	
	
	.stats {
		position: absolute;
		bottom: 3px;
		left: 19px;
		width: 90%;
		height: 35%;
		
		.picture {
			position: absolute;
			top: 6px;
			left: 31px;
			height: 38px;
			width: 38px;
			@include border-radius(3px);
		}
		
		.picture-wrapper {
			overflow: hidden;
			position: static;
			width: 100%;
			height: 100%;
			@include border-radius(3px);
		}
		
		.text {
			position: absolute;
			top: 10px;
			left: 80px;
			width: 45%;
			height: 50%;
			font-size: 0.80em;
			font-weight: bold;
			
			.name {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 50%;
				color: lighten($black, 1%);
			}
			
			.rank {
				position: absolute;
				bottom: -10%;
				left: 0;
				font-size: 0.7em;
				width: 100%;
				height: 50%;
				color: lighten($black, 30%);
				.label {
					font-weight: normal;
				}
			}
			
			.date {
				font-weight: normal;
				font-size: 0.70em;
				color: lighten($black, 35%);
			}
		}
		
		.votes {
			&.container {
				position: absolute;
				bottom: 7px;
				right: 107px;
				width: 42px;
				height: 42px;
			}
			
			&.label {
				font-size: 8px;
				color: lighten($black, 20%);
				position: absolute;
				top: -15%;
				left: -1px;
				width: 100%;
				text-align: center;
			}
			
			&.box {
				cursor: default;
				position: absolute;
				bottom: 10%;
				left: 10%;
				width: 80%;
				height: 80%;
				background: $backgroundcolor;
				@include border-radius(0.3em);
			}
			
			&.number {
				width: 100%;
				margin: 0.3em 0 0 0;
				text-align: center;
				font-weight: bold;
				color: #fff;
				font-size: 1.25em;
			}
		}
		
		.facts {
			&.container {
				position: absolute;
				bottom: 7px;
				right: 61px;
				width: 42px;
				height: 42px;
			}
			
			&.label {
				font-size: 8px;
				color: lighten($black, 20%);
				position: absolute;
				top: -15%;
				left: -1px;
				width: 100%;
				text-align: center;
			}
			
			&.box {
				cursor: default;
				position: absolute;
				bottom: 10%;
				left: 10%;
				width: 80%;
				height: 80%;
				background: desaturate(darken($backgroundcolor, 5%), 20%);
				@include border-radius(0.3em);
			}
			
			&.number {
				width: 100%;
				margin: 0.3em 0 0 0;
				text-align: center;
				font-weight: bold;
				color: #fff;
				font-size: 1.25em;
			}
		}
		.comments {
			&.container {
				position: absolute;
				bottom: 7px;
				right: 14px;
				width: 42px;
				height: 42px;
			}
			
			&.label {
				font-size: 8px;
				color: lighten($black, 20%);
				position: absolute;
				top: -15%;
				left: -2px;
				width: 100%;
				text-align: center;
			}
			
			&.box {
				cursor: default;
				position: absolute;
				bottom: 10%;
				left: 10%;
				width: 80%;
				height: 80%;
				background: $black;
				@include border-radius(0.3em);
			}
			
			&.number {
				width: 100%;
				margin: 0.3em 0 0 0;
				text-align: center;
				font-weight: bold;
				color: #fff;
				font-size: 1.25em;
			}
		}
	}
}

.question {
	.triangle-border:before {
		left:23px;  /* controls horizontal position */
	}
	.triangle-border:after {
		left:25px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	}
	
	.inner {	
		width: 100%;
		height: 10em;
		
		.vote {
			&.container {
				position: relative;
				width: 10%;
				height: 100%;
				@include border-left-radius(5px);
				background: $backgroundcolor;
				border-right: 1px solid darken($backgroundcolor, 10%);
			}
		
			&.up {
				position: absolute;
				top: 46px;
				left: 18px;
				width: 45%;
				height: 15px;
			}
		
			&.down {
				position: absolute;
				top: 106px;
				left: 18px;
				width: 45%;
				height: 15px;
			}
		
			&.count {
				position: absolute;
				text-align: center;
				font-size: 29px;
				line-height: 26px;
				color: #fff;
				top: 70px;
				left: 6px;
				width: 80%;
				height: 26px;
			}
		}
	
		.bubble {
			border: 2px solid $questionbubblecolor;
			position: absolute;
			top: 13px;
			left: 68px;
			width: 84%;
			height: 41%;
			@include border-radius(18px);
			z-index: 1;
	
			.title {
				position: relative;
				font-size: 15px;
				line-height: 20px;
				display: table-cell; 
			  vertical-align: middle; 
			  text-align: left;
				color: lighten($black,5%);
			
				&.container {
					margin: 1% 0 0 2%;
					width: 96%;
					height: 88%;
					display: table;
				}
			}
		}
	
		.stats {
			position: absolute;
			bottom: 3px;
			left: 53px;
			width: 90%;
			height: 35%;

			.picture {
				position: absolute;
				top: 6px;
				left: 31px;
				height: 38px;
				width: 38px;
				@include border-radius(3px);
			}

			.picture-wrapper {
				overflow: hidden;
				position: static;
				width: 100%;
				height: 100%;
				@include border-radius(3px);
			}

			.text {
				position: absolute;
				top: 12px;
				left: 80px;
				width: 45%;
				height: 50%;
				font-size: 0.80em;
				font-weight: bold;

				.name {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 50%;
					color: lighten($black, 1%);
				}

				.rank {
					position: absolute;
					bottom: -5%;
					left: 0;
					font-size: 0.7em;
					width: 100%;
					height: 50%;
					color: lighten($black, 30%);
					.label {
						font-weight: normal;
					}
				}

				.date {
					display: none;
					font-weight: normal;
					font-size: 0.70em;
					color: lighten($black, 35%);
				}
			}
			
			.actions {
				
				.share {
					position: absolute;
					bottom: 2px;
					right: 1px;
					width: 12px;
					height: 12px;
				}
			
				.edit {
					position: absolute;
					bottom: 5px;
					right: 100px;
					width: 15px;
					height: 15px;
				}
			
				.comments {
					position: absolute;
					bottom: 9px;
					right: 48px;
					width: 22px;
					height: 15px;	
				}
				
				.spacer {
				
				}
			}
		}
	}
}

.triangle-border:before {
	content:"";
	position:absolute;
	bottom:-13px; /* value = - border-top-width - border-bottom-width */
  border-width:12px 10px 0px 10px;
	border-style:solid;
    border-color:$questionbubblecolor transparent transparent transparent; /* $backgroundcolor */
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

.triangle-border:after {
	content:"";
	position:absolute;
	bottom:-9px; /* value = - border-top-width - border-bottom-width */
	border-width:9px 8px 0px 8px;
	border-style:solid;
	border-color:#fff transparent transparent transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}