.quiz {
		
	.title {

		&.container {
			margin-bottom: 15px;
		}
	
		&.text {
			font-weight: bold;
			color: rgb(85,85,85);
		}
	}
	
	.answers {
		margin-top: 15px;
		padding: 20px 0 0 0;
		border-top: 1px solid rgb(210,210,210);
		cursor: default;
		position: relative;
		
		.answer {

			&.container {
				width: 50%;
				margin-left: 25%;
			}

			&.button {
				cursor: pointer;
				box-shadow: -1px -1px 2px rgba(darken($questionbubblecolor,40%), 0.99) inset,
							1px 1px 2px rgba(darken($questionbubblecolor,40%), 0.99) inset;
				@include border-radius(8px);
				@include linear-gradient(darken($questionbubblecolor,1%), darken($questionbubblecolor,15%));
				@include fonts;
				float: left;
				height: 33px;
				width: 100%;
				
				margin-top: 8px;
				color: #ffffff;
				font-size: 80%;
				border: none;
				text-align: center;
				@include text-shadow(0, 1px, 0, rgba(darken($questionbubblecolor,50%),0.99));	
				font-weight: bold;
			}
		}
		
		.result {
			&.container {
				
			}
			
			&.text {
				text-align: center;
				
				.correct {
					color: rgb(87,204,0);
				}
				
				.wrong {
					color: rgb(255,71,88);
				}
			}
		}
		
		.correct-answer {
			
			&.container {
				text-align: center;
			}
			
			&.text {
				
			}
		}
		
		.ragecomic {
			width: 20%;
			margin: 15px 0 50px 40%;
			
		}
		
		.buttons {
			position: relative;
			height: 30px;
			width: 100%;
			
			.dispute {
				width: 30%;
				position: absolute;
				bottom: 0;
				left: 10%;
				height: 30px;
			}
			
			.next {
				width: 30%;
				position: absolute;
				bottom: 0;
				right: 10%;
				height: 30px;
			}
		}
	}
	
	.completed {
		
		&.container {
		
		}
		
		&.text {
			
		}
	}
	
	.score {
		
		&.container {
			
		}
		
		&.text {
			
		}
	}
}

#answered {
	
	.symbol {
		
		.checkmark {
			
		}
		
		.x-mark {
			
		}
	}
	
	.question {
		
	}
}

.quiz_header_tabs {
	position: absolute;
	top: 30px;
	left: 0px;
	height: 14px;
	color: rgb(110,110,110);
	width: 100%;
	font-size: 13px;

	.quiz {
		height: 100%;
		font-weight: bold;
		text-align: left;
		position: absolute;
		padding: 4px 0 4px 11px;
		right: 0;
		width: 76px;
		background-color: lighten($questionbubblecolor, 18%);
		@include border-radius(8px);
		.quiz-triangle-container {
			position: absolute;
			top: 7px;
			left: 63px;
			.triangle {
				cursor: pointer;
				content: "";
				display: block; 
				border-width: 11px 7px 0px 7px;
				border-style: solid;
				border-color: rgba(darken(desaturate($questionbubblecolor, 5%),10%), 1) rgba(#ccc, 0) rgba(#aaa, 0) rgba(#000, 0);
				width: 0;
				height: 0;
			}
		}
	}
}
.quiz-big-header-line {
	position: absolute;
	top: 65px;
	border-bottom: 2px solid rgb(180,180,180);
	width: 100%;
}
.quiz-small-header-line {
	position: absolute;
	top: 69px;
	border-bottom: 1px solid rgb(210,210,210);
	width: 100%;
}

.quizzes-wrapper {
	margin-top: 89px;
}