.tooltip {
	cursor: pointer;
	
	.upvote-arrow {
		top: 0;
		left: 0;
		width: 100px;
		height: 20px;
		background: $black;
		color: #fff;
	}
	
	.downvote-arrow {
		top: 0;
		left: 0;
		width: 100px;
		height: 20px;
		background: $black;
		color: #fff;
	}
	
	.upvote-box {
		top: 0;
		left: 0;
		width: 100px;
		height: 20px;
		background: $black;
		color: #fff;
	}
	
	.fact-box {
		top: 0;
		left: 0;
		width: 100px;
		height: 20px;
		background: $black;
		color: #fff;
	}
	
	.comment-box {
		top: 0;
		left: 0;
		width: 100px;
		height: 20px;
		background: $black;
		color: #fff;
	}
	
	.issue-rank {
		top: 0;
		left: 0;
		width: 100px;
		height: 20px;
		background: $black;
		color: #fff;
	}
	
	.top-ranked-fusers {
		top: 0;
		left: 0;
		width: 100px;
		height: 20px;
		background: $black;
		color: #fff;
	}
	
	.basics {
		top: 0;
		left: 0;
		width: 100px;
		height: 20px;
		background: $black;
		color: #fff;
	}
	
	.advanced {
		top: 0;
		left: 0;
		width: 100px;
		height: 20px;
		background: $black;
		color: #fff;
	}
	
	.achievables {
		
		&.learned {
			top: 0;
			left: 0;
			width: 200px;
			height: 40px;
			background: $black;
			color: #fff;
			
			&:after {
				content:"How many facts have you browsed";
			}
		}
		
		&.commented {
			top: 0;
			left: 0;
			width: 200px;
			height: 40px;
			background: $black;
			color: #fff;
			
			&:after {
				content:"How many comments have you made"
			}
		}
		
		&.upvoted {
			top: 0;
			left: 0;
			width: 200px;
			height: 40px;
			background: $black;
			color: #fff;
			
			&:after {
				content:"How many items have you upvoted"
			}
		}
		
		&.downvoted {
			top: 0;
			left: 0;
			width: 200px;
			height: 40px;
			background: $black;
			color: #fff;
			
			&:after {
				content:"How many items have you downvoted"
			}
		}
		
		&.edited {
			top: 0;
			left: 0;
			width: 200px;
			height: 40px;
			background: $black;
			color: #fff;
			
			&:after {
				content:"How many items have you edited"
			}
		}
		
		&.added {
			top: 0;
			left: 0;
			width: 200px;
			height: 40px;
			background: $black;
			color: #fff;
			
			&:after {
				content:"How many facts have you added"
			}
		}
		
		&.asked {
			top: 0;
			left: 0;
			width: 200px;
			height: 40px;
			background: $black;
			color: #fff;
			
			&:after {
				content:"How many questions have you asked"
			}
		}
		
		&.answered {
			top: 0;
			left: 0;
			width: 200px;
			height: 40px;
			background: $black;
			color: #fff;
			
			&:after {
				content:"How many quiz questions have you answered correctly"
			}
		}
	}
}

.tooltip span {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1000;
	@include opacity(0);
	margin-left: 0;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	@include border-radius($radius);
	/* transition-delay: 5s;
	-moz-transition-delay: 5s;
	-webkit-transition-delay: 5s;
	-o-transition-delay: 5s;
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s; */
	
	@include single-transition(opacity, 1s, false, 1s);
}

.tooltip:hover span {
	position: absolute;
	@include opacity(1);
	z-index: 9999;
	margin: 0;
	padding: 0;
	@include border-radius($radius);
}