$radius: 0.313em;
$textblue: #007ccf;
$lightgreytext: rgb(153,153,153);
$backgroundcolor: #81B5C4;
$black: #303030;
$panelouterbordercolor: #9ca5bf;
$panelinnerbordercolor: #dfdfdf;
$buttonshadowblue: rgb(126,203,224);
$greentext: #00cc00;
$redtext: #ff4747;
$facebookblue: rgb(59,89,152);